In [33]:
a= 10
add = 20 + a
add

30

In [35]:
a = 10.5
factor = 30 *a
factor

315.0

In [22]:
a = "visarad"

'visarad'

In [26]:
type(a)

int

In [27]:
type(add)

int

In [28]:
print("aman",)

aman

In [1]:
a,b = 1,2

In [223]:
a = 12

In [224]:
id(a)

4339401296

In [237]:
a = [100,102,104,106,108]
#     0   1   2   3   4

In [239]:
a[0]

100

In [242]:
False == 0

True

In [248]:
# int data type

qty_of_fruits = 100
qty_of_fruits

100

In [250]:
price_of_fruit = 12.5

In [251]:
type(qty_of_fruits),type(price_of_fruit)

(int, float)

In [254]:
total = qty_of_fruits * price_of_fruit

In [266]:
13/3

4.333333333333333

In [265]:
15//4

3

In [258]:
a * b

(40+4j)

In [273]:
ages = [10,15,18,22,25,26]

In [275]:
ages[2] =100

In [276]:
ages

[10, 15, 100, 22, 25, 26]

In [277]:
ages[0] = "aman"

In [285]:
a,b,names = 10, 12.0, ["aman","bajwa"]

In [287]:
names

['aman', 'bajwa']

In [288]:
# Map

person = {"name":"aman","country":"usa","qualification":"MSc"}

In [290]:
person.values()

dict_values(['aman', 'usa', 'MSc'])

In [291]:
person.keys()

dict_keys(['name', 'country', 'qualification'])

In [293]:
person['country']

'usa'

In [302]:
person.get("sample","sorry")

'sorry'

In [310]:
some = set([1,2,1,23,4,4])

In [311]:
some

{1, 2, 4, 23}

In [315]:
some = {5,1,2,3,4,1,2}

In [316]:
some

{1, 2, 3, 4, 5}

In [317]:
a=50
b=a

In [318]:
a,b

(50, 50)

In [319]:
a=20

In [320]:
(a,b)

(20, 50)

In [321]:
b = 30

In [322]:
a,b

(20, 30)

In [342]:
original = [1,2,3,4,5]

duplicate = original.copy()

In [343]:
id(original),id(duplicate)

(4475922432, 4476930752)

In [344]:
duplicate[1] = 1000

In [345]:
original,duplicate

([1, 2, 3, 4, 5], [1, 1000, 3, 4, 5])

In [353]:
# Shallow copy

a = [1,2,3,[2,3]]
b = a.copy()

In [354]:
id(a), id(b)

(4477040640, 4477029696)

In [361]:
b[3][0] = 1000

[1000, 3]

In [362]:
a,b

([1, 2, 3, [1000, 3]], [1000, 2, 3, [1000, 3]])

In [16]:
a = 123
name =f'''names 
            1. {a} 
            2. pararthi'''

In [55]:
import copy
original  = [1,2,3,[10,20]]
duplicate = copy.deepcopy(original)

In [56]:
id(original),id(duplicate)

(4412925888, 4522080320)

In [57]:
duplicate[3] = 'aman'

In [58]:
original,duplicate

([1, 2, 3, [10, 20]], [1, 2, 3, 'aman'])

In [59]:
a= [1,2,3,4,5]

In [75]:
a = (1,2,3,4,5)
b = (10,20)
a = a+b
a+('aman',)

(1, 2, 3, 4, 5, 10, 20, 'aman')

In [96]:
a = [1,2,3,4,5,] 
b = [10,20,]

In [97]:
a.append((10000))
a

[1, 2, 3, 4, 5, 10000]

In [98]:
# if condition1:
#     execute
# elif condition2:
        # execute
#  else:
        # execute

In [103]:
a =10

if a==10:
    if a>5:
        print("greater than 5")

greater than 5

In [106]:
a = "no"

b = 1 if a == "yes" else 0
b

0

In [126]:
import random
a =  random.sample(["yes",'no','dont know','missed'],1)[0]
print(a)
b = 1 if a == "yes" else 0 if a =="no" else 100
b

missed

100

In [127]:
# loops

# for some:
#   set of isntructions

In [141]:
for i in range(1,11):
    a = "{0}*{1}->{2}".format(10,i, 10*i)
    print(a)

10*1->10
10*2->20
10*3->30
10*4->40
10*5->50
10*6->60
10*7->70
10*8->80
10*9->90
10*10->100

In [163]:
a= [1,2.,3,4,5,"aman",[1,2,3]]

b = []

for i in a:
    if type(i) == int or type(i) == float or type(i) == str:
        b.append(i)
    if type(i) == list:
        for j in i:
            b.append(j)
b

[1, 2.0, 3, 4, 5, 'aman', 1, 2, 3]

In [155]:
a = 2
len(a)

TypeError: object of type 'int' has no len()

In [168]:
a = 10
id(a)

4344070672

In [171]:
b = 10
id(10)

4344070672

In [335]:
a = [i for i in range(1,100001,1)]

# range can be used for generating range of values with a lower bound and upper bound
# upper bound is not inclusive.
# and we can use step for diffrencing the elements

In [342]:
x,y,z = a[:10],a[10:20],a[20:30]
x,y,z

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [394]:
name = "amanDeep     |    bajwa"
# name1, name2 = name[:4],name[4:]
# name.split("\t")
capitalized_name = ""
words = name.split("|")
for word in words:
    word = word.replace(" ","")
    capitalized_name = capitalized_name + word.capitalize() + " "
capitalized_name

'Amandeep Bajwa '

In [430]:
a = [1,2,3,4,5,6]

rows = 5
for i in range(0,rows+1):
    for j in range(0,i+1):
        print(a[j],end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [420]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [ ]:
# 1 2 3 4 5
#   2 3 4 5 
#     3 4 5 
#       4 5 
#         5

In [494]:
_, *a = [1,2,3,4,5]

('*a', '=', '[1,2,3,4,5]')

In [495]:
_, *a, _ = [1,2,3,4,5]
a

[2, 3, 4]

In [560]:
a = [1,2,3,4,5,6,7,8,9]
count = 0


even_or_odd = 0  if len(a)%2==0 else 1

rows = int(len(a)/4) + even_or_odd


for _ in range(rows):
    if count == 0:
        print(a)
        count = 1
    else:
        _, *a,_,_,_ = a
        print(a)
        
# 1 2 3 4 5 6 7 8 9 10
# 2 3 4 5 6 7 8 9
# 3 4 5 6 7 8
# 4 5 6 7
# 5 6

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[3]

In [533]:
def even(a):
    if a%2 == 0:
        return 0
    else: 
        return 1

even_no_or_odd = even(9)
even_no_or_odd

1

In [534]:
even_no_or_odd

1

In [553]:
x = 1 if len(a)%2 else 0

In [564]:
l1 = [1,2,3,4,5,[1,2,3]]
l2 = [11,22,33,44,55]
l1 + l2
[*l1,*l2]

[1, 2, 3, 4, 5, 11, 22, 33, 44, 55]

In [567]:
l1 = [1,2,3,4,5,[111,222,333]]
*a,b =l1
[*a,*b]

[1, 2, 3, 4, 5, 111, 222, 333]

In [569]:
a= [1,2.,3,4,5,"aman",[1,2,3]]
*x,y = a
[*x,*y]

[1, 2.0, 3, 4, 5, 'aman', 1, 2, 3]

In [ ]:
# stacks
# queues
# linked lists

# n-ary trees

In [2]:
a = {"a":1,"b":2,"c":3}

In [21]:
print("{a}{b}{c}".format(**a))

1-2-3